@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin:  5% 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h1, h3{
    margin-bottom: 20px;
}

/* Task container */
.task-container{
    display: flex;
    margin-bottom: 3rem;
    padding: 10px;
}

.task-container .task-name{
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-name.selected{
    box-shadow: 0px 0px 0px 2px black inset;
}

#remove{
    background-color: #1d3551;
    color: white;
}
/* 


#break{
    background-color: #f7f779;

}
#gym{
    background-color: #f68080;
}
#study{
    background-color: #faae7b;
}
#tv{
    background-color: chartreuse;
}
#friends{
    background-color: darkcyan;
}
#work{
    background-color: cornflowerblue;
} */

/* Schedule design */

.schedule-container{
    background: linear-gradient(#ebf4f5, #b5c6e0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.days-container{
    display: flex;
}

.corner{
    width: 50px;
    height: 70px;
    margin: 2px;
}
.day{
    width: 100px;
    border: solid 1px white;
    color: #9bafd9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.part-day{
    display: flex;
}
.time{
    width: 50px;
    height: 70px;
    color: white;
    background-color: #103783;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}

.task{
    background-color: white;
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.part-task{
 
    background-color: violet;
    border-style: dotted;
    border-color: blue;
    height: 60px;
    width: 33%;
    cursor: pointer;
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.part-task:hover{
    background-color: #eee;
}
.deleteBtn{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

.deleteBtn:hover{
    background-color: #eee;
}

.pop-up-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-answer{
    margin: 0 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}